.image1Icon {
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 578px);
  border-radius: var(--br-sm);
  width: 1165px;
  height: 530px;
  object-fit: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
