<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Utility Data</title>
</head>
<div class = "navbar">
    <a href="/">Home</a>
</div>

<body>
    <form class = "f1" method = "POST">
        <p1>What type of data are you submitting?</p1>
        <br>
        <p1>Power</p1>
        <input type = "checkbox" value = "Power"><br>
        <p1>Water</p1>
        <input type = "checkbox" value = "Water"><br>
        <p1>Waste</p1>
        <input type = "checkbox" value = "Waste"><br>
        <button class = "submit_button" type = "submit">Submit</button>
    </form>
</body>
</html>